header{
    display: block;
    width: 100%;
}
.div-slika{
    padding:0;
    margin:0;
}
.slika{
    position: relative;
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
}
body{
    margin:0;
    padding:0;
}
.navigacija{
    position: relative;
    height: 50px;
    list-style-type: none;
    padding: 0;
    margin:0;
    background-color: black;
    overflow: hidden;
}
li{
    display: inline;
    float: left;

}
.navbar{
    position: relative;
    padding: 0;
    margin: 0;
    justify-content: center;
}
li a{
    display: block;
    width: 60px;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
li a:hover{
    color: grey;
}
main{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
figure{
    width: 25%;
    float: left;
    border: 1px solid black;
    padding: 5px;
}
figure img{
    position: relative;
    width: 100%;
}
.lorem_slika figcaption{
    position: relative;
    width: 100%;
}
main p{
    letter-spacing: 1px;
}
figcaption{
    font-size: 80%;
}
.ikona{
    width:2%;
    padding: 6px;
}
.inline_p{
    display: inline;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: black;
}
footer p{
    color: white;
    margin: 10px;
}
